:root {
    --header-color: #577df5;
    --text-color: #2c6bea;
    --text-color-darker: #1550c2;
    --button-background: #c8dcff;
    --background-input: #edf3ff;
    --background-popup: #ffffff;
    --background-default: #e3eafa;
    --button-background-hover: #bed1f6;
    --button-background-active: #abc0f5;
    --background-inactive-day: #c9d5e8;
    --mmn-color: #ffdbaf;
    --mmh-color: #62bc7555;
    --exam-color: #ffb8e3;
    --course-color: #c6d5fa;
    --holiday-cell: #ded1ff;
}

a {
    text-decoration: none;
    height: 100%;
}

font {
    height: 100%;
    vertical-align: center;
    font-family: sans-serif;
}

.calendar-container {
    width: 100%;
    background-color: transparent;
    border-spacing: 5px;
    color: var(--text-color);
}

.calender-row {
    display: flex;
}

.calendar-cell {
    min-width: 120px;
    max-width: 200px;

    font-size: 16px;
    font-family: "Segoe UI", Arial, sans-serif;
    min-height: 80px;

    background-color: var(--background-default);
    padding: 15px;
    border-radius: 8px;
    text-align: right;
    cursor: pointer;
}

.calendar-header {
    background-color: var(--header-color);
    text-align: center;
    padding: 10px;
}

.calendar-cell-header {
    padding: 10px;
    font-family: "Segoe UI", Arial, sans-serif;
    border-radius: 8px;
}

.selected {
    outline-offset: -3px;
    outline: 3px solid var(--text-color);
    filter: brightness(98%) saturate(2);
}

.calendar-cell:hover {
    filter: brightness(95%) saturate(1.2);
}

.holiday-cell {
    background-color: var(--holiday-cell);
}

.course-cell {
    background-color: var(--course-color);
}

.exam-cell {
    background-color: var(--exam-color);
}

.mmn-cell {
    background-color: var(--mmn-color);
}

.mmh-cell {
    background-color: var(--mmh-color);
}

button.time {
    background-color: var(--button-background);
    padding: 15px;
    border-radius: 8px;
    border: none;
    color: var(--text-color);
    font-size: 16px;
    margin: 5px;
}

button.time:hover {
    background-color: var(--button-background-hover);
}

button.time:active {
    background-color: var(--button-background-active);
}

button.next {
    margin: 330% 5px 0px 5px;
    height: 30%;
    padding: 0px 10px 0px 10px;
    text-align: center;
    border: none;
    color: var(--text-color);
    background-color: transparent;
    font-size: 100px;
    font-weight: bold;
    vertical-align: center;
    flex: 1;
    cursor: pointer;
}

button.next:hover {
    color: var(--text-color-darker);
}

button.month-title {
    font-family: sans-serif;
    width: 724px;
    text-align: right;
    color: var(--text-color);
    font-size: 32px;
    background-color: transparent;
    border: none;
}

button.reminder {
    background-color: var(--text-color);
    padding: 10px;
    width: 8%;
    align-self: flex-start;
    border-radius: 15px;
    border: none;
    color: var(--background-default);
    font-size: 16px;
    font-weight: bold;
    margin: 5px 5px 0 15px;
}

button.reminder:hover {
    background-color: var(--text-color-darker);
}

button.reminder:active {
    background-color: var(--text-color);
}

div.reminder {
    background-color: var(--button-background);
    border-radius: 12px;
    width: 1070px;
    padding: 5px;
    margin: 15px auto 0 auto;
}

input.reminder {
    background-color: var(--background-input);
    border-radius: 15px;
    width: 20%;
    margin: 7px 2px 7px 17px;
    padding: 8px 15px 8px 15px;
    text-align: right;
    border: none;
    color: var(--text-color);
    font-size: 16px;
}

input.reminder.time {
    width: min-content;
}

input.reminder:focus {
    outline: none;
}

label.reminder {
    font-family: sans-serif;
    font-weight: bold;
    color: var(--text-color);
    margin: 5px 2px 5px 5px;
    font-size: 16px;
}

.top-nav {
    width: 1070px;
    text-align: center;
}

.reminder-list {
    background-color: var(--background-default);
    border-radius: 12px;
    width: 30%;
    height: 100%;
    padding: 5px;
}

.popup {
    width: fit-content;
    font-size: 13px;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--background-popup);
    border-color: var(--text-color-darker);
}

